fdsl_stress_shift_slides.aux
fdsl_stress_shift_slides.bcf
fdsl_stress_shift_slides.log
fdsl_stress_shift_slides.nav
fdsl_stress_shift_slides.out
fdsl_stress_shift_slides.run.xml
fdsl_stress_shift_slides.snm
fdsl_stress_shift_slides.synctex.gz
fdsl_stress_shift_slides.toc
